body
	{
	background-image:url("arrierplan.jpg");
	}
h1
 {
 	text-align: center;
 	font-family: calibri;
 	color: #DF0101;
 	border:4px grey solid;
 	border-radius: 30px;
 	letter-spacing:10px;


 	}

 .contact{
	position: fixed;
	top: 5px;
	right: 5px;
	font-family: :calibri;
	color: #DF0101	
	font-style: italic;
	font-weight:bold;
	color:black;
	border: 4px solid white;
	padding: 6px;
	border-radius: 9px


}

.float{
	float: right;
	padding-right: 650px;
   width: 120px;
	height: 50px;
 }
 h2
 	
{
 	text-align: center;
 	font-family: calibri;
 	color: #DF0101;
 	border:4px grey solid;
 	border-radius: 30px;
 	letter-spacing:10px;


}

	.img3
{float: right;
	padding-right: 650px
	  width: 240px;
	height: 100px;

}

.liste
{border-left-style: solid;
 border-left-color:#DF0101;	
 border-left-width: 4px;
 font-style: italic;
 font-weight: bold;
}

.cit
{
	text-align: left;
	font-weight: bold;
	font-size: 20px;
	color:white;


	}
 h3
 {
 	text-align: left;
 	text-decoration: underline;
 	font-family: calibri;
 	color:#DF0101;
  	font-size: 1.5em


 	}


 	p
 	{
 	text-align: justify;
 	font-family: calibri;
 	color: white;
 	font-weight: bold;
 
 	}
ul
 	{
 	text-align: justify;
 	font-family: calibri;
 	color: white;
 
 	}
